.ourWeddingSection {
    max-height: 100vh;
    .jumbo {
        margin: 10vh 4vh 5vh;
        background-color: #77815c;
        opacity: 0.9;
        height: auto; 
        text-align: left;
        border-radius: 0;
        // max-height: 450px;
    }
    
    .imgColumnOurWedding {
        height: auto;
    }
    
    .imgOurWedding {
        max-width: 100%;
        height: auto; 
        // max-height: 440px;
        padding: 10px
    }
    
    .alertOurWedding {
        /* background-color: #FFFAF0; */
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-weight: bolder;
        font-size: 4vw;
        padding-top:  20px;
    
    }
    
    .headingOurWedding {
        font-size: 2.5vw;
        font-weight: bold
    }
    
    .alertDetailsOurWedding {
        /* background-color: #FFFAF0; */
        text-align: center;
        font-size: 1.7vw;
    }
    
    .writingColumnOurWedding {
        padding: 10px 0 10px 10px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFAF0;
    }
}
