.navBarSection {
  .container {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    place-items: center center;
    padding: 25px;
  }
  .navbar {
    font-family: 'Montserrat', sans-serif;
    color: #fffaf0;
    .selected {
      border-bottom: 1px solid var(--metaWhite);
    }
    .nav-link {
      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid var(--metaGreen);
      }
    }
    .navBarLink {
      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid var(--metaGreen);
      }
    }
    .navbar-brand {
      font-family: 'Great Vibes', cursive;
      color: #fffaf0;
      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid var(--metaGreen);
      }
    }
  }
}

#TopNavigation a {
  color: var(--metaWhite);
  text-decoration-color: var(--metaWhite);
}
#TopNavigation.is-scrolling a {
  color: var(--dark);
  text-decoration-color: var(--dark);
}

#TopNavigation.is-not-scrolling {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  transition-duration: 500ms;
  background-color: transparent !important;
}

#TopNavigation.is-scrolling {
  transition-duration: 500ms;
}

#TopNavigation.is-not-scrolling a.navbar-brand {
  font-size: 2em;
  transition-duration: 500ms;
}
#TopNavigation.is-scrolling a.navbar-brand {
  font-size: 1.25em;
  transition-duration: 500ms;
}

#requestAppointmentBtn {
  margin: 0.25em 1em !important;
  padding: 0.25em 1em !important;
}
#requestAppointmentBtn.btn-outline-secondary {
  // background-color: var(--metaGreen);
  border-color: var(--metaWhite);
  color: var(--metaWhite);
}
#requestAppointmentBtn.btn-outline-secondary.is-scrolling {
  // background-color: var(--metaGreen);
  border-color: var(--metaGreen);
  color: var(--metaGreen);
}
#requestAppointmentBtn.btn-outline-secondary:hover {
  background-color: var(--metaGreen);
  border-color: var(--metaGreen);
}
.is-scrolling button#requestAppointmentBtn {
  border-color: var(--dark);
  color: var(--dark);
}

@media (max-width: 992px) {
  #TopNavigation.is-scrolling a.navbar-brand {
    color: var(--dark);
    // background-color: var(--dark);
    // opacity: 0.9
    &:hover {
      border-bottom: 1px solid var(--metaGreen);
    }
  }
  #TopNavigation {
    opacity: 0.9;
    // background-color: transparent !important;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    background-color: var(--dark);
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    border-radius: 2px;
  }
  .navbar-toggler-icon {
    background-color: var(--metaWhite);
  }
  .navbar-toggler {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  #TopNavigation.is-scrolling a {
    color: var(--metaWhite);
    text-decoration-color: var(--metaWhite);
  }
  .nav-link.selected {
    border-bottom: 1px solid var(--metaWhite);
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 25%;
  }
  .nav-link:hover {
    border-bottom: 1px solid var(--metaGreen);
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 25%;
  }
  .is-scrolling button#requestAppointmentBtn {
    border-color: var(--metaWhite);
    color: var(--metaWhite);
  }
}
