.metaBlogCardSection {
  // overflow: hidden;
  // width: 100%;
  // padding: 4.5rem 0;
  padding: 20px;
  .lt-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-rows: auto;
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .lt-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
    }
  }

  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) {
  //   .lt-grid-container {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     grid-template-rows: 1fr;
  //     gap: 20px;
  //   }
  // }

  // // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) {
  //   .lt-grid-container {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     grid-template-rows: 1fr;
  //     gap: 20px;
  //   }
  // }
}
