.writing1 {
    font-family: 'Great Vibes', cursive;
    color: #b784a7;
}

.writing2 {
    font-family: 'Montserrat', sans-serif;
    color: #b784a7;
}

.carousel2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

