@media (max-width: 480px) { 
    .customCarousel {
        padding-top: 56px;
    }
 }

.writingDiv{
    margin: 10px;
    text-align: center;
}
.writing1 {
    font-family: 'Great Vibes', cursive;
    color: #FFFAF0;
    font-size: 3vw;
}

.writing2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFAF0;
    font-size: 2vw;
}

.cardHome {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 30%;
    background-color: #77815c;
    opacity: 0.8;
    border-radius: 0;
    border: 0;
    text-align: center;
}

.countdownTitle {
    font-family: 'Great Vibes', cursive;
    background-color: #77815c;
    /* font-weight: bold; */
    font-size: 2.2vw;
    padding-top: 7px;
}

.countdown {
    top: 20%;
    width: 20%;
    opacity: 0.6;
    left: 74%;
}

.tickcounter {
    width: 100%; 
    position: relative; 
    padding-bottom: 25%;
}

.carousel2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

