.header {
    color: #77815c;
    font-family: 'Great Vibes', cursive;
    font-size: 5vw;
    text-align: center;
    /* font-weight: bold */
}

.cardTitle {
    font-family: 'Montserrat', sans-serif;

}

.cardText {
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.cardButton {
    background-color: #77815c;
}

/* .cardImage {
    height: 250px;
} */

