.NavBarBackground {
    background-color: #77815c;
    font-family: 'Great Vibes', cursive; 
    opacity: 0.8;
    color: #FFFAF0;
    height: 7vh;
}

.Words {
    font-family: 'Montserrat', sans-serif;
    color: #FFFAF0;
}


