.guestAccommodations {
    .header {
        color: #77815c;
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        padding-top: 70px;
        padding-bottom: 15px;
        text-align: center;
    }
}
