.rsvpButton {
    background-color: #FFFAF0;
    color: #77815c;
    font-weight: bolder
}

.rsvpCard {
    width: 70%;
    margin: 10vh auto;
}

.rsvpParagraph {
    font-size: 1.5vw;
    font-weight: bold;
    width: 60%;
    margin: auto;
}