.rsvpSection {
  height: 100%;
  .rsvpCard {
    width: 70%;
    margin: 10vh auto;
    display: grid;
    .alertOurWedding {
      color: var(--metaGreen);
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
    }
    .arrowIcon {
      margin-left: 10px;
    }
    .alertDetailsOurWedding {
      //   font-weight: bold;
    }
  }
}
.rsvpSection::after {
  content: '';
  background-image: url('../../pictures/glebhanWeddingPhotos/newCover.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  //   height: 100%;
  z-index: -1;
  //   padding-top: 75%;
}

@media only screen and (max-width: 992px) {
  .rsvpSection {
    display: grid;
    place-items: center;
    height: 100vh !important;
    .rsvpCard {
      display: grid;
      place-items: center;
      width: 100%;
    }
    .writingColumnOurWedding {
      display: grid;
      place-items: center;
      height: 100%;
      text-align: center;
    }
  }
  .rsvpSection::after {
    content: '';
    background-image: url('../../pictures/sageBackgroundImage.jpg');
  }
}
