* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --metaGreen: #77815c;
  --metaWhite: #FFFAF0;
}
body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(./pictures/mauvebackground.jpg); */
  background-color:	var(--metaWhite);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



