.jumbo {
    margin: 15vh 15vh 5vh 15vh ;
    background-color: #77815c;
    opacity: 0.9;
    height: auto; 
    text-align: left;
    border-radius: 0;
    max-height: 450px;
}

.imgColumnOurWedding {
    height: auto;
}

.imgOurWedding {
    max-width: 100%;
    height: auto;
    max-height: 440px;
    padding: 10px 0
}